<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload File</title>
    </head>

    <body>
        <div>
            <!-- List of uploaded documents -->
            {% if documents %}
            All documents in the database:
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No documents.</p>
            {% endif %}

            <!-- Upload form. Note enctype attribute! -->
            <form action="{% url "my-form" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ message }}
                <p>{{ form.non_field_errors }}</p>

                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

                <p>
                    {{ form.docfile.errors }}
                    {{ form.docfile }}
                </p>

                <p><input type="submit" name = "upload" value="Upload"/></p>
            </form>



            <div>
                {% if colheads %}
                    <form action="{% url "my-form" %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="newid" value="{{id}}">
                        <label for="cols1">Select a Column:</label>
                        <select name="cols1" id="cols1">
                            {% for key, value in colheads.items %}
                                <option value="{{value}}">{{key}}</option>
                            {% endfor %}
                        </select>
                        <label for="cols2">Select a Column:</label>
                        <select name="cols2" id="cols2">
                            {% for key, value in colheads.items %}
                                <option value="{{value}}">{{key}}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <input type="submit" name="colselect" value="Submit">
                    </form>
                {% endif %}
            </div>




            <!-- Image Block -->
            <div>
                {% if imgname %}
                    <!-- {{imgname}} -->
                    <img src="{{imgname}}">
                {% endif %}
            </div>
        </div>
    </body>
</html>
