{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Data Visualization</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body class="body">
        <!-- Top Navbar -->
        <div id="topdiv">
            <nav class="navbar fixed-top navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Data Visualization</a>
            </nav>
        </div>
        <br>

        <!-- Main Div -->
        <div class="setmargin centeralign">
            
            <!-- Buttons to Choose Data -->
            <div>
                <button type="button" data-toggle="collapse" data-target="#collapseUF" aria-expanded="false" aria-controls="collapseUF" class="tgl btn btn-secondary btn-lg" 
                onclick="document.getElementById('imgdiv').style.display='none';">Upload File</button>
                <button type="button" data-toggle="collapse" data-target="#collapseUD" aria-expanded="false" aria-controls="collapseUD" class="tgl btn btn-secondary btn-lg" 
                onclick="document.getElementById('imgdiv').style.display='none';">Choose from Database</button>
                <br><br>
            </div>
            <!-- List of uploaded documents -->
            <div class="collapse grid-container" id="collapseUD">
                {% if documents %}
                    {% for document in documents %}
                        <div class="grid-item">
                            <!-- <a href="{{ document.docfile.url }}">{{ document.tag }}</a> -->
                            <form style="display: inline;" action="{% url "my-form" %}" method="post">
                                {% csrf_token %}
                                <button class="gridbtn" name="exampleset" type="submit" value="{{document.id}}">{{document.tag}}</button>
                            </form>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No documents.</p>
                {% endif %}
            </div>

            <br>

            <!-- Upload form. Note enctype attribute! -->
            <div class="collapse" id="collapseUF">
                <form action="{% url "my-form" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>{{ form.non_field_errors }}</p>
                    <!-- <p style="display: inline;">{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>-->
                    <p id="choosefile" >
                        {{ form.docfile.errors }}
                        {{ form.docfile }}
                    </p>
                    <br>
                    <br>
                    <br>
                    <!-- <label>{{ form.tag.label_tag }} {{ form.tag.help_text }}</label> -->

                    <label>Enter name for file : </label>
    
                    <span>
                        {{ form.tag.errors }}
                        {{ form.tag }}
                    </span>
    
                    <span><input class="btn btn-dark" id="uploadbutton" type="submit" name = "upload" value="Upload"/></span>
                </form>
            </div>

            <br>

            <!-- Form for Choosing graph -->
            <div>
                {% if graph %}
                    <form action="{% url "my-form" %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="newid" value="{{id}}">
                        <label for="graph">Select a Graph:</label>
                        <select name="graph" id="graph">
                            <option value="1">Line</option>
                            <option value="2">Bar</option>
                            <option value="3">Histogram</option>
                            <option value="4">Pie</option>
                        </select>
                        <label for="csep">Select Column Separator:</label>
                        <select name="csep" id="csep">
                            <option value="1">Space</option>
                            <option value="2">Comma</option>
                            <option value="3">Tab</option>
                            <option value="4">Semicolon</option>
                            <option value="5">Colon</option>
                            <option value="6">Hyphen</option>
                        </select>
                        <br><br>
                        <input class="btn btn-dark" type="submit" name="graphselect" value="Submit">
                    </form>
                {% endif %}
            </div>

            <!-- Creating Select boxes according to graph type and passing the columns to plot -->
            <div>
                {% if colheads %}
                    <form action="{% url "my-form" %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="newid" value="{{id}}">
                        <input type="hidden" name="newgraph" value="{{graph}}">
                        <input type="hidden" name="csep" value="{{csep}}">
                        <br>

                        {% if graph != 3 %}
                            {% for key, value in colheads.items %}
                                {% if graph != 4 or value < 2 %}
                                    {% if value == 0 %}
                                        <label for="cols{{value}}">Select for X axis:</label>
                                    {% else %}
                                        <label for="cols{{value}}">Select a Column:</label>
                                    {% endif %}
                                    <select name="cols{{value}}" id="cols{{value}}">
                                        {% for key, value in colheads.items %}
                                            <option value="{{value}}">{{key}}</option>
                                        {% endfor %}
                                        <option value="100" selected>None</option>
                                    </select>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <label for="cols0">Select a Column:</label>
                            <select name="cols0" id="cols0">
                                {% for key, value in colheads.items %}
                                    <option value="{{value}}">{{key}}</option>
                                {% endfor %}
                            </select>
                        {% endif %}


                        <br><br>
                        <input class="btn btn-dark" onclick="document.getElementById('imgdiv').style.display='block';" type="submit" name="colselect" value="Submit">
                    </form>
                {% endif %}
            </div>


            <!-- Image Block to show Image -->
            <div id="imgdiv" style="text-align: center ;height: 80vh;">
                {% if imgname %}
                    <!-- {{imgname}} -->
                    <img src="{{imgname}}" style="max-height:100%; max-width:100%; object-fit: contain;">
                    <br>
                    <a href="{{imgname}}" download><button type="button" class="btn btn-dark">Download Image</button></a>
                {% endif %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
